# Ignore node_modules directory
node_modules/

# Ignore build output directory
.build/

# Ignore the .next directory (Next.js build output)
.next/

# Ignore the public directory (static files)
public/

# Ignore cached files or directories
.cache/

# Ignore IDE or editor configuration files
.vscode/
.idea/
*.sublime-*
*.vscode-*
*.swp
*.swo

# Ignore any other build artifacts or temporary files
*.log
*.bak
*.tmp
*.DS_Store

# ignore .git and .history directory
.git
.history
